* {
    text-align: center;
}
.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
    text-align: center;
}

.main {
    background-color: #ffd700;
    width: 75%;
    height: 350px;
    display: inline-block;
    padding: 20px 0;
    box-sizing: border-box;
}

.aside {
    background-color: #808080;
    width: 25%;
    float: right;
    height: 350px;
}

.footer {
    background-color: #00ffff;
    float: none;
}